@use '../scss/font';
@use '../scss/variable';
@import '../scss/mixing';

.why-wrapper{
    @include wrapper;
    min-height: 700px;
    background: url(../../assets/image/home/why-us-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .why-container{
        @include container;
        @include flexbox(space-between, center, row, wrap);

        &-text{
            @include container(600px, 400px);
            @include flexbox(space-between);
            .heading{
                @include h2;
                color: variable.$text-light-white;
            }

            .info{
                @include info;
               @include flexbox(space-between, flex-start, column);
            }

            .ctaBtn{
                @include cta-button;
            }
        }

        &-image{
            @include container(500px, 600px);
            @include flexbox($align-items:center);

            img{
                width: 400px;
                border-radius: 4px;
                box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.267);
            }

            .img-top{
                margin-right: auto;
            }

            .img-bottom{
                margin-left: auto;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width:500px){
    .why-wrapper{
        background: url(../../assets/image/home/why-us-bg-s.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        .why-container{
            @include container;
            @include flexbox(space-between, center, row, wrap);
    
            &-text{
                @include container(600px, 400px);
                @include flexbox(center);
    
                .heading{
                    @include h2;
                    font-size: 1.8rem;
                    padding: 30px 0;
                    color: variable.$text-light-white;
                }
    
                .info{
                    @include info;
                    font-size: 16px;
                    padding: 10px 10px;
                    text-align: justify;
                }
    
                .ctaBtn{
                    @include cta-button;
                    margin: 20px 0;
                }
            }
    
            &-image{
                @include container(500px, 600px);
    
                img{
                    width: 300px;
                    border-radius: 4px;
                    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.267);
                }
    
                .img-top{
                    margin: auto;
                }
    
                .img-bottom{
                    margin: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 501px) and (max-width:1099px){
    .why-wrapper{
        background: url(../../assets/image/home/why-us-bg-m.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .why-container{
            @include container;
            @include flexbox(space-between, center, row, wrap);
    
            &-text{
                @include container(900px, 400px);
                @include flexbox(center);
                .heading{
                    @include h2;
                    color: variable.$text-light-white;
                }
    
                .info{
                    @include info;
                    padding: 0 10px;
                    text-align: justify;
                }
    
                .ctaBtn{
                    @include cta-button;
                }
            }
    
            &-image{
                @include flexbox(space-between, center, wrap);
                @include container(1000px, 250px);
                gap:10px;
    
                img{
                    width: 240px;
                    border-radius: 4px;
                    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.267);
                }
    
                .img-top{
                    margin: auto;
                }
    
                .img-bottom{
                    margin: auto;
                }
            }
        }
    }
}