@use '../scss/font';
@use '../scss/variable';
@import '../scss/mixing';

.hero-wrapper{
    background: url('../../assets/image/home/hero-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include wrapper;

    .content-container{
        @include container(100%, 100%);
        @include flexbox(center, center, column);

        .text{
            @include container(100%, 100%); 
            @include flexbox(center, center, column);
            .heading-title{
                @include heading-h1;
                
            }

            .quote{
                @include quote;
            }
        }

        form{
            @include container(100%, 50px);
            @include flexbox(center, center, row, wrap);
            margin-top:10px;
            input{
                max-width: 350px;
                min-height: 45px;
                width: 100%;
                border:2px solid white;
                font-size: 0.8rem;
                letter-spacing: 4px;
                padding-left: 10px;
                font-family: font.$text;
            }



            .searchBtn{
                @include search-button;
            }
        }
    }
}

