// Background Colors
$background-header-dark-purple: #737ef4;
$background-footer-dark-blue: #0080ff;
$background-section-light-grey: #383838d4;
$background-section-dark-grey: #222222db;
$background-input-hover: rgb(243, 253, 220);

// Text Colors
$text-main-dark: #333333; // Main text color (dark gray for readability)
$text-light-white: #F8F8FF; // Light text color for headers or footer text
$text-light-green: rgb(6, 234, 6);
$text-turquoise: #00B4D8;
$text-coral: #FF6F61;
$text-link-hover: rgb(250, 250, 143); //Link navbar hover
// Button Colors
$button-cta-blue: #1E90FF; // Primary call-to-action button color (blue)
$button-cta-hover: #06b65b;
$button-cta-active: #1505cf;
$button-cta-coral: #FF6F61; // Secondary call-to-action button color (coral orange)
$button-cta-beige: #EAD5B7; // Beige button color for secondary actions

// Borders and Dividers
$divider-light-grey: #E0E0E0; // Light grey divider between sections
$border-dark-grey: #4B4B4B; // Dark grey border for prominent sections or cards

// Special Section Colors
$special-section-background-beige: #F4A261; // Background color for special content sections
$special-section-background-muted: #DCDCDC; // Muted grey background for secondary sections
